@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Questrial', sans-serif;
    background-color: #242424;
}


a {
    color: aliceblue;
    text-decoration: none;
}

.blue--text {
    color: #3577ea;
}

/* NAVIGATION BAR */

.logo {
    width: 50px;
}

.nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.nav__bubble {
    background-color: #3577ea;
    border-radius: 50px;
    padding: 12px;
    text-decoration: none;
    transition: all 300ms ease;
}

/*.nav__gradient {
    background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));

}*/

.nav__bubble:hover {
    background-color: aliceblue;
    color: #242424;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

li {
    list-style-type: none;
}

.nav__links {
    display: flex;
}

.nav__link {
    padding: 0 16px;
}


h3 {
    padding-top: 32px;
}


/* HEADER */

.header__text {
    color: aliceblue;
    font-size: 42px;
    line-height: 1.5;
    padding-bottom: 32px;
}

.header__text2 {
    padding-top: 108px;
    font-size: 50px;
    color: aliceblue;
    margin-left: 32px;
}


.header__para {
    color: aliceblue;
    padding-bottom: 32px;
    font-size: 20px;
    line-height: 1.2;
}

.header__container {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    padding: 32px;
}

input {
    padding: 12px;
    border-radius: 9999px;
    border-width: 2px;
    border: 2px solid rgba(255, 255, 255, 0.327);
    outline: none;
    width: 100%;
    transition: all 300ms;
    color: aliceblue;
}


input:hover {
    border: 2px solid white;
}

.header__row {
    display: flex;
}

.gif__container {
    padding-top: 112px;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header--gif {
    width: 100%;
    border-radius: 4px
}

.award--1 {
    width: 100%;
}

.resize {
    width: 150px;
    height: auto;
}

.header--awards {
    display: flex;
    justify-content: center;
    padding: 4px 0;
    filter: grayscale();
}

.resize--star {
    width: 75px;
    height: auto;
    filter: grayscale();
}

.resize--jd {
    width: 200px;
    height: auto;
    padding-right: 56px;
    filter: grayscale();
}

.header--accolades {
    padding-top: 56px;
    filter: grayscale();
    color: grey;
}

.header__input--button {
    position: relative;
    
}

.btn {
    border-radius: 9999px;
    background-color: #3577ea;
    border: none;
    width: 35%;
    padding: 8px;
    display: flex;
    margin-left: 252px;
    color: aliceblue;
    transition: all 900ms ease;
    align-items: center;
    justify-content: center;
    
}

.btn--bubble {
    transform: translateY(-35px);
}

.btn:hover {
    background-color: aliceblue;
    color: #242424;
    cursor: pointer;
}

/*features*/

.container {
    padding: 80px 0;
    background-color: #F6F6F6;
}

.car--wrapper {
    background-color: #F6F6F6;
    width: calc(100%/3);
    padding: 12px;
    
}

.feature__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    background-color: #F6F6F6;
}

.feature__header {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

.car--img {
    width: 100%;

}
.cars {
    display: flex;
    justify-content: center;
}

.car--text {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.car--text2 {
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
    z-index: 100;
    font-weight: 700;
    padding-top: 12px;
    letter-spacing: 1px;
    color: #242424;
    position: relative;
    
}

.car--button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    color: aliceblue;
    outline: none;
    padding: 12px;
    cursor: pointer;
}

.button--container {
   background-color: #F6F6F6;
   padding-top: 56px;
}

.fa-chevron-right {
    background-color: #F6F6F6;
    padding-right: 8px;
    text-decoration: none;
}

.text--underline {
    background-color: #F6F6F6;
    text-decoration: none;
    transition: all 300ms ease;
}

.text--underline:hover {
    text-decoration: underline;
}

/* button responsiveness*/


