@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Questrial', sans-serif;
    background-color: #242424;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.blue--text {
    color: #3577ea;
}

/* NAVIGATION BAR */

.logo {
    width: 50px;
}

.nav {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.nav__bubble {
    background-color: #3577ea;
    border-radius: 50px;
    padding: 12px;
    text-decoration: none;
    transition: all 300ms ease;
}

.nav__bubble:hover {
    background-color: aliceblue;
    color: #242424;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

li {
    list-style-type: none;
}

.nav__links {
    display: flex;
}

.nav__link {
    padding: 0 16px;
}


h3 {
    padding-top: 32px;
}


/* HEADER */

.header__text {
    color: aliceblue;
    font-size: 42px;
    line-height: 1.5;
    padding-bottom: 32px;
}


.header__para {
    color: aliceblue;
    padding-bottom: 32px;
    font-size: 24px;
    line-height: 1.2;
}

.header__container {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-top: 56px;
    padding: 32px;
}

input {
    padding: 12px;
    border-radius: 9999px;
    border-width: 2px;
    color: inherit;
    border: 2px solid white;
    outline: none;
    
}

.header__row {
    display: flex;
}

.gif__container {
    padding-top: 112px;
    padding-left: 80px;
}

.header--gif {
    width: 100%;
    border-radius: 4px
}

.award--1 {
    width: 100%;
}

.resize {
    width: 150px;
    height: auto;
}

.header--awards {
    display: flex;
    justify-content: center;
    padding: 32px 0;
    filter: grayscale();
}

.resize--star {
    width: 75px;
    height: auto;
    filter: grayscale();
}

.resize--jd {
    width: 200px;
    height: auto;
    padding-right: 56px;
    filter: grayscale();
}